@import url("https://cdn.jsdelivr.net/gh/jgthms/minireset.css@master/minireset.min.css");

body {
  margin: 0;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  height: 100vh;
  background-color: #1E1E1E;
  box-sizing: border-box;
}

#container {
  height: 100%;
  white-space: nowrap;
}

.grid-item {
  max-width: 33%;
}

.grid-item.large {
  max-width: 44%;
}